<h1>BMI calculator</h1>

<%= form_tag "/result", method: :post do %>
<!-- <form action="/result" method="post"> -->

  <input type="textfield" name="body_height" />
  <input type="textfield" name="body_weight" />
  <input type="submit" />

<% end %>
<!-- </form> -->
